setuptools
wheel
streamlit
yfinance
plotly
pandas
requests==2.31.0
folium==0.14.0
streamlit-folium==0.15.0
geopy==2.4.1
Pillow==10.1.0
pytz==2023.3
pymongo==4.6.1
python-dotenv==1.0.0
blizzardapi==3.0.0